.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.sign-up-container {
  max-width: 25rem;
  width: 100%;
  padding: 2.2rem;
  border: 0.125rem solid #000;
  border-radius: 0.625rem;
  background-color: #fff;
  box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 0.3);
  color: #000;
  font-family: "Roboto", sans-serif;
}

.sign-up-container h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #000;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  background-color: #f8f8f8;
  color: #000;
  font-size: 1rem;
  transition: border-color 0.3s, background-color 0.3s;
}

.form-group input:focus {
  border-color: #333;
  background-color: #fff;
  outline: none;
}

.btn-loginIn {
  padding: 0.75rem;
  margin: 0.625rem 0;
  border: 0.125rem solid #000;
  border-radius: 0.9375rem;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.btn-loginIn:hover {
  background-color: #fff;
  color: #000;
  transform: none;
}

/* MEDIA QUERY */
/* Mobile S: 320px */
@media (min-width: 0px) and (max-width: 320px) {
  .sign-up-container {
    padding: 1.25rem;
    max-width: 17.5rem;
  }

  .form-group input {
    font-size: 0.875rem;
  }

  .btn-loginIn {
    font-size: 0.875rem;
  }
}

/* Mobile M: 375px */
@media (min-width: 321px) and (max-width: 375px) {
  .sign-up-container {
    padding: 1.56rem;
    max-width: 18.75rem;
  }

  .form-group input {
    font-size: 0.9rem;
  }

  .btn-loginIn {
    font-size: 0.9rem;
  }
}

/* Mobile L: 425px */
@media (min-width: 376px) and (max-width: 425px) {
  .sign-up-container {
    padding: 1.72rem;
    max-width: 20rem;
  }

  .form-group input {
    font-size: 0.93rem;
  }

  .btn-loginIn {
    font-size: 0.93rem;
  }
}

/* Tablet: 768px */
@media (min-width: 426px) and (max-width: 768px) {
  .sign-up-container {
    padding: 1.87rem;
    max-width: 21.875rem;
  }

  .form-group input {
    font-size: 0.95rem;
  }

  .btn-loginIn {
    font-size: 0.95rem;
  }
}

/* Laptop: 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  .sign-up-container {
    padding: 2.2rem;
    max-width: 25rem;
  }

  .form-group input {
    font-size: 1rem;
  }

  .btn-loginIn {
    font-size: 1rem;
  }
}

/* Laptop L: 1440px */
@media (min-width: 1025px) and (max-width: 1440px) {
  .sign-up-container {
    padding: 2.2rem;
    max-width: 25rem;
  }

  .form-group input {
    font-size: 1rem;
  }

  .btn-loginIn {
    font-size: 1rem;
  }
}

/* 4K: 2560px */
@media (min-width: 1441px) and (max-width: 2560px) {
  .sign-up-container {
    padding: 2.2rem;
    max-width: 25rem;
  }

  .form-group input {
    font-size: 1rem;
  }

  .btn-loginIn {
    font-size: 1rem;
  }
}

/* Pantallas más grandes de 4K */
@media (min-width: 2561px) {
  .sign-up-container {
    padding: 2.2rem;
    max-width: 25rem;
  }

  .form-group input {
    font-size: 1rem;
  }

  .btn-loginIn {
    font-size: 1rem;
  }
}
