/* src/assets/styles/imagecarousel.css */

.swiper {
  width: 100%;
  height: auto; /* Ajusta la altura automáticamente en función de las imágenes */
}

.swiper-slide img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del slide */
  height: auto; /* Mantiene la relación de aspecto */
}

/* Opcional: Ajustes específicos para diferentes tamaños de pantalla */
@media (max-width: 768px) {
  .swiper-slide img {
    width: 100%;
    height: auto;
  }
}
